<ion-content class="ion-align-self-center">
    <div class="container-flex">
        <div class="container">
            <ion-img src="../../assets/images/student.svg"></ion-img>
            <h1 class="page-title">Accedi</h1>
            <form
                [formGroup]="loginForm"
                (submit)="login()"
                (keyup.enter)="login()"
            >
                <ion-list>
                    <ion-item class="form-control form-control--text">
                        <i class="fas fa-user  form-control__icon"></i>
                        <ion-input
                            placeholder="Username (es. m.rossi)"
                            formControlName="username"
                            type="text"
                            required
                        ></ion-input>
                    </ion-item>
                    <ion-item class="form-control form-control--text">
                        <i class="fas fa-lock form-control__icon"></i>
                        <ion-input
                            placeholder="Password"
                            formControlName="password"
                            [type]="showPassword ? 'text' : 'password'"
                            required
                        ></ion-input>
                        <i
                            class="fas form-control__icon"
                            [class.fa-eye]="!showPassword"
                            [class.fa-eye-slash]="showPassword"
                            (click)="showPassword = !showPassword"
                        ></i>
                    </ion-item>
                </ion-list>
                <ion-button
                    class="ion-no-margin form-submit form-submit--round"
                    type="submit"
                    [disabled]="!loginForm.valid"
                >
                    <i class="fas fa-arrow-right form-submit__icon"></i>
                </ion-button>
            </form>
        </div>
    </div>
</ion-content>
