<ion-app>
    <ion-split-pane contentId="main">
        <ion-menu
            *ngIf="!isLoginPage"
            type="reveal"
            contentId="main"
        >
            <ion-header class="ion-no-border">
                <ion-toolbar>
                    <ion-buttons slot="end">
                        <ion-menu-toggle>
                            <ion-button>
                                <i class="fas fa-times app-icon"></i>
                            </ion-button>
                        </ion-menu-toggle>
                    </ion-buttons>
                </ion-toolbar>
                <ion-item>
                    <ion-avatar slot="start">{{account.avatar}}</ion-avatar>
                    <ion-label>
                        <h3>
                            {{account.firstname}} {{account.lastname}}
                        </h3>
                        <p>{{account.email}}</p>
                        <p>{{account.id}}</p>
                    </ion-label>
                </ion-item>
            </ion-header>
            <ion-content>
                <ion-list *ngIf="!subMenuOpened">
                    <ion-item
                        *ngFor="let item of menuItems | keyvalue: noSort"
                        [class.active]="item.key === activeItem"
                    >
                        <ion-label (click)="navigateForward(item.value, item.key)">
                            <i class="fas {{item.value.icon}} app-icon app-icon-left"></i>
                            {{item.value.name}}
                        </ion-label>
                    </ion-item>
                    <ion-item (click)="logout()">
                        <ion-label>
                            <i class="fas fa-power-off app-icon app-icon-left"></i>
                            Logout
                        </ion-label>
                    </ion-item>
                </ion-list>
                <ion-list *ngIf="subMenuOpened">
                    <ion-item
                        class="active"
                        (click)="navigateBack()"
                    >
                        <ion-label class="close">
                            <i class="fas {{menuItems[activeItem].icon}} app-icon app-icon-left"></i>
                            {{menuItems[activeItem].name}}
                            <i class="fas fa-angle-left app-icon app-icon-right"></i>
                        </ion-label>
                    </ion-item>
                    <ion-item
                        *ngFor="let item of menuItems[activeItem].routes | keyvalue: noSort"
                        class="subitem"
                        [class.active]="item.key === activeSubItem"
                    >
                        <ion-label (click)="navigateTo(item.key)">{{item.value.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
