<ion-app>
    <ion-split-pane contentId="main">
        <ion-menu
            *ngIf="!isLoginPage"
            type="push"
            contentId="main"
        >
            <ion-header class="ion-no-border">
                <ion-toolbar>
                    <ion-buttons slot="end">
                        <ion-menu-toggle>
                            <ion-button>
                                <i class="fas fa-times app-icon"></i>
                            </ion-button>
                        </ion-menu-toggle>
                    </ion-buttons>
                </ion-toolbar>
                <ion-item>
                    <ion-avatar slot="start">{{account.avatar}}</ion-avatar>
                    <ion-label>
                        <h3>
                            {{account.firstname}} {{account.lastname}}
                        </h3>
                        <p>{{account.email}}</p>
                        <p>{{account.id}}</p>
                    </ion-label>
                </ion-item>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item
                        *ngFor="let route of menuRoute"
                        [routerLink]="route.path"
                    >
                        {{route.name}}
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
