<ion-content>
    <app-refresher></app-refresher>
    <ion-list>
        <ion-item>
            <ion-label>ciaoo</ion-label>



        </ion-item>
        <ion-item>
            <ion-button>Show Modal</ion-button>
        </ion-item>
        <!-- Added testing button ----------------- -->
        <ion-item>
            <ion-button
                size="large"
                (click)="testMethod()"
            >
                Test
            </ion-button>
        </ion-item>
        <!-- --------------------------------------- -->
    </ion-list>
</ion-content>
