<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <i class="fas fa-times app-icon"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-content></ng-content>
</ion-content>
<ion-footer
    *ngIf="confirmButton"
    class="ion-no-border"
>
    <ion-buttons>
        <ion-button
            class="app-button"
            (click)="handleConfirm()"
        >
            Conferma
        </ion-button>
    </ion-buttons>
</ion-footer>
