.app-modal {
    align-items: flex-end;

    .modal-wrapper {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        ion-header {
            padding: var(--ion-app-padding);

            ion-title {
                --color: var(--ion-color-unisa-blue);

                padding-right: 30px;
                font-size: 18px;
                font-weight: var(--ion-font-weight-bold);
            }
        }

        ion-content {
            --padding-end: var(--ion-app-padding);
            --padding-start: var(--ion-app-padding);
        }

        ion-footer {
            padding: var(--ion-app-padding);

            ion-button {
                --background: var(--ion-color-unisa-orange);
                --border-radius: 25px;
                --color: white;

                width: 100%;
                min-height: 50px;
                text-align: center;
                text-transform: capitalize;
                font-size: 16px;
                font-weight: var(--ion-font-weight-semibold);
            }
        }
    }
}
