<ion-content class="page-content">
    <app-refresher [refreshCallback]="getExams"></app-refresher>
    <div class="flex flex-direction-column">
        <app-header>
            <ion-toolbar>
                <ion-title class="page-title">Appelli</ion-title>
            </ion-toolbar>
            <!-- <ion-toolbar class="segment-toolbar">
                <ion-segment
                    [value]="activeIndex"
                    (ionChange)="slideTo($event)"
                    swipeGesture="false"
                >
                    <ion-segment-button
                        *ngFor="let label of labels; index as i"
                        [value]="i"
                    >
                        <ion-label>{{label}}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar> -->
        </app-header>
        <div class="page-main">
            <form
                *ngIf="isReady"
                [formGroup]="examsForm"
            >
                <ion-list class="app-list">
                    <ion-item>
                        <ion-label>
                            <h3>Anno accademico</h3>
                        </ion-label>
                        <ion-select
                            cancelText="Cancella"
                            formControlName="year"
                            interface="action-sheet"
                            placeholder="Seleziona"
                            [interfaceOptions]="customActionSheetOptions"
                            (ionChange)="setYearIndex($event)"
                        >
                            <ion-select-option
                                *ngFor="let param of searchParams; index as i"
                                [value]="{index: i, value: param.valore}"
                            >
                                {{param.label}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item [disabled]="yearIndex === -1">
                        <ion-label>
                            <h3>Corso di studio</h3>
                        </ion-label>
                        <ion-select
                            cancelText="Cancella"
                            formControlName="course"
                            placeholder="Seleziona"
                            interface="action-sheet"
                            [interfaceOptions]="customActionSheetOptions"
                            (ionChange)="setCourseIndex($event)"
                        >
                            <ion-select-option
                                *ngFor="let course of getCourses(); index as i"
                                [value]="{index: i, value: course.valore}"
                            >
                                [{{course.valore}}] - {{course.label}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item [disabled]="courseIndex === -1">
                        <ion-label>
                            <h3>Anno di studio</h3>
                        </ion-label>
                        <ion-select
                            cancelText="Cancella"
                            formControlName="courseYear"
                            placeholder="Seleziona"
                            interface="action-sheet"
                            [interfaceOptions]="customActionSheetOptions"
                            (ionChange)="setCourseYearIndex($event)"
                        >
                            <ion-select-option
                                *ngFor="let year of getCourseYears(); index as i"
                                [value]="{index: i, value: year.valore}"
                            >
                                {{year.label}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item [disabled]="courseYearIndex === -1">
                        <ion-label>
                            <h3>Sessione</h3>
                        </ion-label>
                        <ion-select
                            cancelText="Cancella"
                            formControlName="term"
                            placeholder="Seleziona"
                            interface="action-sheet"
                            [interfaceOptions]="customActionSheetOptions"
                        >
                            <ion-select-option
                                *ngFor="let term of getTerms(); index as i"
                                [value]="{index: i, value: term.valore}"
                            >
                                {{term.label}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </form>
        </div>
    </div>
</ion-content>
