.app-list {
    ion-item::part(native) {
        align-items: flex-start;
        flex-direction: column;
    }

    ion-label {
        transform: scale(1);
        font-size: 16px;
        font-weight: var(--ion-font-weight-semibold);
    }

    ion-select {
        padding: 0;
        font-size: 14px;

        &::part(placeholder) {
            color: var(--ion-color-unisa-base);
            opacity: 1;
        }

        &::part(icon) {
            display: none;
        }
    }
}
