/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Montserrat - Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* Spartan - Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap");

/* Font Awesome 5 */
@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";
@import "./scss/regular.scss";

:root {
    --ion-backdrop-opacity: 0.6;
    --ion-background-color: white;
    --ion-font-family: "Montserrat", sans-serif;
    --ion-text-color: var(--ion-color-unisa-base);
}

.ion-color-unisa-base {
    --ion-color-base: var(--ion-color-unisa-base);
    --ion-color-base-rgb: var(--ion-color-unisa-base-rgb);
    --ion-color-contrast: var(--ion-color-unisa-base-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-base-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-base-shade);
    --ion-color-tint: var(--ion-color-unisa-base-tint);
}

.ion-color-unisa-blue {
    --ion-color-base: var(--ion-color-unisa-blue);
    --ion-color-base-rgb: var(--ion-color-unisa-blue-rgb);
    --ion-color-contrast: var(--ion-color-unisa-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-blue-shade);
    --ion-color-tint: var(--ion-color-unisa-blue-tint);
}

.ion-color-unisa-cobalt-blue {
    --ion-color-base: var(--ion-color-unisa-cobalt-blue);
    --ion-color-base-rgb: var(--ion-color-unisa-cobalt-blue-rgb);
    --ion-color-contrast: var(--ion-color-unisa-cobalt-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-cobalt-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-cobalt-blue-shade);
    --ion-color-tint: var(--ion-color-unisa-cobalt-blue-tint);
}

.ion-color-unisa-orange {
    --ion-color-base: var(--ion-color-unisa-orange);
    --ion-color-base-rgb: var(--ion-color-unisa-orange-rgb);
    --ion-color-contrast: var(--ion-color-unisa-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-orange-shade);
    --ion-color-tint: var(--ion-color-unisa-orange-tint);
}

.ion-color-unisa-soft-blue {
    --ion-color-base: var(--ion-color-unisa-soft-blue);
    --ion-color-base-rgb: var(--ion-color-unisa-soft-blue-rgb);
    --ion-color-contrast: var(--ion-color-unisa-soft-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-soft-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-soft-blue-shade);
    --ion-color-tint: var(--ion-color-unisa-soft-blue-tint);
}

.ion-color-unisa-soft-orange {
    --ion-color-base: var(--ion-color-unisa-soft-orange);
    --ion-color-base-rgb: var(--ion-color-unisa-soft-orange-rgb);
    --ion-color-contrast: var(--ion-color-unisa-soft-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-soft-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-soft-orange-shade);
    --ion-color-tint: var(--ion-color-unisa-soft-orange-tint);
}

.ion-color-unisa-soft-gray {
    --ion-color-base: var(--ion-color-unisa-soft-gray);
    --ion-color-base-rgb: var(--ion-color-unisa-soft-gray-rgb);
    --ion-color-contrast: var(--ion-color-unisa-soft-gray-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-soft-gray-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-soft-gray-shade);
    --ion-color-tint: var(--ion-color-unisa-soft-gray-tint);
}

.ion-color-unisa-success-green {
    --ion-color-base: var(--ion-color-unisa-success-green);
    --ion-color-base-rgb: var(--ion-color-unisa-success-green-rgb);
    --ion-color-contrast: var(--ion-color-unisa-success-green-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-success-green-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-success-green-shade);
    --ion-color-tint: var(--ion-color-unisa-success-green-tint);
}

.ion-color-unisa-success-dark-green {
    --ion-color-base: var(--ion-color-unisa-success-dark-green);
    --ion-color-base-rgb: var(--ion-color-unisa-success-dark-green-rgb);
    --ion-color-contrast: var(--ion-color-unisa-success-dark-green-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-success-dark-green-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-success-dark-green-shade);
    --ion-color-tint: var(--ion-color-unisa-success-dark-green-tint);
}

.ion-color-unisa-warning-yellow {
    --ion-color-base: var(--ion-color-unisa-warning-yellow);
    --ion-color-base-rgb: var(--ion-color-unisa-warning-yellow-rgb);
    --ion-color-contrast: var(--ion-color-unisa-warning-yellow-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-warning-yellow-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-warning-yellow-shade);
    --ion-color-tint: var(--ion-color-unisa-warning-yellow-tint);
}

.ion-color-unisa-info-blue {
    --ion-color-base: var(--ion-color-unisa-info-blue);
    --ion-color-base-rgb: var(--ion-color-unisa-info-blue-rgb);
    --ion-color-contrast: var(--ion-color-unisa-info-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-info-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-info-blue-shade);
    --ion-color-tint: var(--ion-color-unisa-info-blue-tint);
}

.ion-color-unisa-danger-red {
    --ion-color-base: var(--ion-color-unisa-danger-red);
    --ion-color-base-rgb: var(--ion-color-unisa-danger-red-rgb);
    --ion-color-contrast: var(--ion-color-unisa-danger-red-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-danger-red-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-danger-red-shade);
    --ion-color-tint: var(--ion-color-unisa-danger-red-tint);
}

.ion-color-unisa-danger-dark-red {
    --ion-color-base: var(--ion-color-unisa-danger-dark-red);
    --ion-color-base-rgb: var(--ion-color-unisa-danger-dark-red-rgb);
    --ion-color-contrast: var(--ion-color-unisa-danger-dark-red-contrast);
    --ion-color-contrast-rgb: var(--ion-color-unisa-danger-dark-red-contrast-rgb);
    --ion-color-shade: var(--ion-color-unisa-danger-dark-red-shade);
    --ion-color-tint: var(--ion-color-unisa-danger-dark-red-tint);
}

app-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
}

ion-router-outlet {
    background: var(--ion-background-color);
}

ion-toolbar {
    --min-height: none;
    --background: none;
}

ion-title {
    padding: 0;
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: none;
    --background-hover: none;
    --background-activated: transparent;
    --highlight-background: none;
    --ripple-color: transparent;
    --border-width: 0;
    --inner-border-width: 0;
}

ion-buttons {
    margin: 0;
}

ion-menu-button {
    --padding-start: 0;
    --padding-end: 0;
    --ripple-color: transparent;

    width: auto;
    height: auto;
}

ion-button {
    --box-shadow: none;
    --ripple-color: transparent;
    --background-hover-opacity: 0;

    &.button {
        margin: 0;
    }

    &::part(native) {
        padding: 0;
    }
}

ion-checkbox {
    margin: 0;
    --background-checked: var(--ion-color-unisa-blue);
    --border-color: var(--ion-color-unisa-soft-gray);
    --border-color-checked: var(--ion-color-unisa-blue);
}

ion-radio {
    --color: var(--ion-color-unisa-soft-gray);
    --color-checked: var(--ion-color-unisa-blue);

    margin-right: 15px;
}

ion-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 0;
    background: var(--ion-color-unisa-soft-blue);
    border-radius: 15px;
    color: var(--ion-color-unisa-blue);
}

ion-label {
    margin: 0;
}

ion-chip {
    margin: 0;
    padding: 5px 10px;

    ion-label {
        text-transform: capitalize;
    }
}

ion-toggle {
    --handle-width: 16px;
    --handle-max-height: 16px;
    --handle-spacing: 2px;
    --handle-box-shadow: none;
    --background: var(--ion-color-unisa-soft-gray);
    --background-checked: var(--ion-color-unisa-blue);

    height: 20px;
    width: 36px;
}

.container-flex {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    align-self: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    --padding-start: 30px;
    --padding-end: 30px;
    padding: 0 30px;
    box-sizing: border-box;
}

.app-loading {
    color: var(--ion-color-unisa-blue);
}

.app-content {
    --padding-bottom: var(--ion-app-padding);
    --padding-end: var(--ion-app-padding);
    --padding-top: var(--ion-app-padding);
    --padding-start: var(--ion-app-padding);
    --background: var(--ion-color-unisa-soft-blue);

    overflow: hidden;
    width: calc(100% - 30px);
    border-top-right-radius: 25px;
}

.app-list {
    width: 100%;
    padding: 0;
    background: none;

    ion-list-header {
        padding: 0;
        margin-bottom: 20px;

        ion-label {
            color: var(--ion-color-unisa-blue);
            font-size: 20px;
            font-weight: var(--ion-font-weight-semibold);
            text-align: left;
        }
    }

    ion-item {
        --background: white;
        --padding-bottom: 20px;
        --padding-end: 20px;
        --padding-start: 20px;
        --padding-top: 20px;

        margin-bottom: 20px;
        border-radius: 15px;
        box-sizing: border-box;
        cursor: pointer;
        box-shadow: 0 5px 40px -20px rgb(0, 0, 0, 0.2);

        &:last-child {
            margin-bottom: 0;
        }

        ion-label {
            h3 {
                padding-right: 20px;
                margin-bottom: 8px;
                color: var(--ion-color-unisa-blue);
                font-size: 16px;
                font-weight: var(--ion-font-weight-semibold);
                text-transform: lowercase;

                &:first-letter {
                    text-transform: capitalize;
                }
            }

            div {
                margin-bottom: 8px;
                font-size: 14px;

                &:last-child {
                    margin-bottom: 0;
                }

                span {
                    margin-left: 8px;
                }
            }
        }

        ion-note {
            align-self: center;
            color: var(--ion-color-unisa-blue);
            font-size: 20px;
            font-weight: var(--ion-font-weight-semibold);

            &.max:after {
                content: "L";
            }
        }
    }
}

.app-icon {
    color: var(--ion-color-unisa-blue);
    font-size: 20px;
    vertical-align: middle;
}

.app-icon-left {
    margin-right: 10px;
}

.app-icon-right {
    margin-left: 10px;
}

.app-toast {
    --border-radius: 5px;
    --button-color: white;

    color: white;
    font-weight: 400;
}

.page-title {
    color: var(--ion-color-unisa-blue);
    font-size: 24px;
    font-weight: var(--ion-font-weight-bold);
}

.form-control {
    $form-control-height: 50px;

    --padding-start: 20px;
    --inner-padding-end: 20px;
    height: $form-control-height;
    border: 1px solid var(--ion-color-unisa-soft-gray);
    border-radius: $form-control-height / 2;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-control--text {
    transition: border-color var(--ion-transition-fast);

    .form-control__icon:first-of-type {
        transition: color var(--ion-transition-fast);
    }

    &.ion-dirty.ion-invalid {
        border-color: var(--ion-color-unisa-danger-red);

        .form-control__icon:first-of-type {
            color: var(--ion-color-unisa-danger-red);
        }
    }

    &.ion-valid {
        border-color: var(--ion-color-unisa-success-green);

        .form-control__icon:first-of-type {
            color: var(--ion-color-unisa-success-green);
        }
    }
}

.form-submit {
    --background: var(--ion-color-unisa-orange);
}

@keyframes unisa-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.75);
        opacity: 0.5;
    }
}

.unisa {
    color: #2f577f;
    font-family: "Spartan", sans-serif;
    font-size: 24px;
    font-weight: 600;

    .unisa-letter {
        display: inline-block;
        animation-name: unisa-animation;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        &:nth-child(1) {
            animation-delay: 0;
        }

        &:nth-child(2) {
            animation-delay: 250ms;
        }

        &:nth-child(3) {
            animation-delay: 500ms;
        }

        &:nth-child(4) {
            animation-delay: 750ms;
        }

        &:nth-child(5) {
            animation-delay: 1000ms;
        }
    }
}
